$accent-color: rgb(18, 114, 224);
$block-color: rgb(245, 245, 245);

body {
  margin: 0;
  padding: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%window {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  .top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 1rem;
    background-color: $accent-color;
    padding: .5rem 1rem;
    color: white;
    user-select: none;
    .title-block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .title {
        font-weight: 600;
        margin-bottom: .25rem;
      }
      .description {
        font-size: 12px;
      }
    }
  }
}
%window:active {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.is-maximized {
  height: 100% !important;
  width: 100% !important;
  position: absolute !important;
  z-index: 100 !important;
}

.is-minimized {
  display: block;
  width: 15rem !important;
  height: 2rem;
  box-shadow: none;
  margin: 0 1rem;
  transform: none !important;
  .content {
    display: none;
  }
  .description {
    display: none;
  }
}
.is-minimized:active {
  box-shadow: none;
  .top-bar {
    background-color: lighten($accent-color, 5%)
  }
}

.wrap:active {
  transform: scale(1.01);
  transition: transform 0.3s;
}

.editor {
  @extend %window;
  width: 45rem;
  textarea {
    min-height: 20rem;
    resize: vertical;
    border: none;
    padding: .5rem;
  }
}

.preview {
  @extend %window;
  text-align: left;
  width: 60rem;
  min-height: 20rem;
  .output {
    padding: .5rem;
    height: 40rem;
    overflow: scroll;
  }
}

.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-height: 2rem;
}

.icon {
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: $block-color;
}

blockquote {
  background-color: $block-color;
  margin: 0;
  margin-left: 2rem;
  border-left: 3px solid $accent-color;
  padding: 1rem;
  width: 50%;

  p {
    margin: 0;
  }
}
